.comic-title {
    text-transform: uppercase;
    color: #094564;
}

.comic-text {
    color: #918f8f;
}

.green-table {
    height: 50px;
    width: 100%;
    color: white;
    background-color: #55ba59;
    box-shadow: 0 4px 3px -3px black;
    .bord-right {
        border-right: 1px solid #3f8c43;
        height: 50px;
    }
    .light-text {
        color: #b8fb99;
    }
    .fas.fa-sort-down {
        margin-top: -5px;
    }
}


.blue-spacer {
    height: 90px;
    width: 100%;
    background-color: #0282F9;
    position: relative;
    .comic-poster {
        position: absolute;
        bottom: 20px;
        background-color: #00a9d9;
        border: 1px solid white;
        .gallery-text {
            color: white;
            font-family: sans-serif;
            text-align: center;
            font-size: 0.8em;
            padding: 5px;
        }
    }   
}