#social {
    background-color: #303030;
    padding: 30px 0;
    h3 {
        color: #0282F9;
        margin: 0px 20px;
    }
    
    
    ul li {
        margin: 0 10px;
    }
    
    li:hover img {
        opacity: 0.8;
    }
}

#sign-up-box {
    padding: 10px 15px;
    width: 100px;
    color: #fff;
    border: 2px solid #0282F9;
    text-align: center;

    h4 {
        margin: 0;
        padding: 0;
    }
}

#sign-up-box:hover {
    background-color: #0282F9;
}

